%div.chat-side
  %div.chat-side__user
    %div.chat-side__user-content
      %div.chat-side__user-name sample
      %a.chat-side__user--new-group
        %i.fa.fa-pencil-square-o
      %a.chat-side__user--edit-user
        %i.fa.fa-cog

  %div.chat-side__groups
    %div.chat-side__groups-list
      %a
        %div.chat-side__group
          %div.chat-side__group-name
          %div.chat-side__group-message
      %a
        %div.chat-side__group
          %div.chat-side__group-name
          %div.chat-side__group-message

