// SCSSのメリットである、ネストやパーシャル化、変数化、mixinなどを使用し効率的にCSSを記述する
// SCSSを使用すると、ネストやパーシャル化、変数化することでCSSを記述するよりも無駄なく効率的にスタイルシートを記述することができます。
// 積極的にSCSSの記法を試していきましょう。
$white:#FFFFFF;
$black:#090c10;
$indigo: #2f3e51;
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
*, *:before, *:after {
    box-sizing: border-box;
}

.chat-side{
  width:300px;
  height: 100vh;
  float:left;
    &__user{
      height:15%;
      width:100%;
      background-color : $black;
      position: relative;
        &-content{
          height      : 50px;
          width       : 100%;
          line-height : 50px;
          margin      : auto 0;
          position    : absolute;
          top         : 0;
          bottom      : 0;
        }
        &-name{
          font-size   : 16px;
          font-weight : bold;
          color       : $white;
          margin      : 0 20px;
          position    : relative;
          display     : inline-block;
        }
        &--new-group{
          color       : $white;
          margin-left : 90px;
          position    : relative;
          display     : inline-block;
        }
        &--edit-user{
          color    : $white;
          position : relative;
          display  : inline-block;
        }
    }
    &__groups{
      height:85%;
      width:100%;
      background-color: $indigo;
        &-list{
              height: 100%;
              color: $white;
        }
    }
    &__group{
      padding:20px;
        &-name{
          font-size: 15px;
        }
        &-message{
          font-size: 11px;
        }
    }
}
.chat-main{
    height: 100vh;
    width: calc( 100vw - 320px );
    float: left;
// header
      &__header{
        height : 15%;
        border : 1px solid #eee;
        &--group{
          @include clearfix();
          margin : 0 40px;
          &-name{
            font-size:20px;
            color:#333333;
            margin: 35px 0 15px;
            float:left;
          }
          &-edit-btn{
            color:#38AEF0;
            font-size:15px;
            border: 1px solid #38AEF0;
            float: right;
            padding: 12.5px 20px;
            margin:28px 20px 0px;
          }
        }
        &-members{
            font-size:12px;
            color:#999999;
            margin: 0 40px;
          }
      }
// body
      &__body{
    height: calc( 100vh - 15% - 90px );
    overflow-y: scroll;
        &--messages-list{
          padding-top:26px;
          padding-left:40px;
        }
      }
      &__message{
        @include clearfix();
        padding: 20px 0;
        &-name{
          color: #434A54;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }
        &-time{
              color: #999;
    font-size: 12px;
    padding: 0 10px 10px;
    float: left;
        }
        &-body{
          color: #434A54;
          clear: both;
        }
        &-image{

        }
      }
// footer
&__footer{
  height:90px;
  width:100%;
  background-color: #B8C3C7;
  &-form{
    margin: 0 40px;
    position: relative;
  }
  &-body{
    position: relative;
    .message{
      height: 50px;
      width: calc( 100% - 130px );
      padding: 15px 10px;
      margin: 20px 0;
      border: none;
    }
    .chat-file{
      height: 50px;
      width: 40px;
      margin: 32px 130px 20px 0;
      position: absolute;
      top: 0;
      right: 0;
      .image{
        position: absolute;
        top: 15px;
        left: 15px;
        display: none;
      }
    }
  }
  .submit{
    color: #fff;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: #38AEF0;
    margin: 20px 0;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
}
}
